.idea/*
ontology/shapes_ontology_graph.json
ontology/shapes_graph.json
ontology/shapes_graph_transformed.json
ontology/shapes_graph_transformed_closed.json
env/*
.env
docs/design-documentation.pdf
docs/design-documentation.html